<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
    <link rel="stylesheet" type="text/css" href="css/style.css"></link>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.min.js"></script>
    <script type="text/javascript" src="script/app.js"></script>
</head>
<body>
    <div id="tableDiv" ng-app="tableModule" ng-controller="tableController">
        <input type="button" class="add add-row" alt="Add row" title="Добавить ряд" ng-click="addRow()"/>
        <input type="button" class="add add-column" alt="Add col" title="Добавить столбец" ng-click="addCol()"/>
        <input type="button" class="add delete-row" alt="Del row" title="Удалить ряд" ng-click="delRow()"/>
        <input type="button" class="add delete-col" alt="Del col" title="Удалить столбец" ng-click="delCol()"/>
        <br/>
        <br/>
	    <table class="automata-table" border="1">
	    	<tr>
	    		<td>{{ valObject.values[0][0] }}</td>
	    	</tr>
	    </table>
        <br/>
        <input type="submit" value="submit" ng-click="sendValues()"/>
    </div>
</body>
</html>